<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Msi" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="73ce9acd-800b-46b0-9b56-5d14d3735357">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
